<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356168832558-2pakp16pdajp9sc75bsjtu65qgnhqfgc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356168832558-2pakp16pdajp9sc75bsjtu65qgnhqfgc</string>
	<key>API_KEY</key>
	<string>AIzaSyDC4PFZrIo9m7P0Rv4V1u4WC5eow5jFqZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>356168832558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NorahAlmaneea.MarvelComicsV2</string>
	<key>PROJECT_ID</key>
	<string>marvelcomics-76f53</string>
	<key>STORAGE_BUCKET</key>
	<string>marvelcomics-76f53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356168832558:ios:02e73c23432628f430b1bf</string>
</dict>
</plist>